.main {
  margin-right: 600px;
}
.main-container {
  flex-wrap: wrap;
  height: 30rem;
}
.card-item {
  width: auto;
  height: 70%;
}

.card-text {
  font-size: 1.5rem;
}
.card-title {
  font-size: 2rem;
}
.card {
  width: auto;
  height: 70%;
}

.card img {
  overflow: hidden;
}
